{% extends 'base.html.twig' %}

{% block title %}Veuillez vous inscrire{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container mt-4">
        {{ form_start(form) }}
        {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.fullName) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}

        {{ form_end(form) }}
    </div>

{% endblock %}